[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/merradi
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/merradi
	label-Verified = -1..+1 group user/merradi
	push = group user/merradi
	read = group user/merradi
	rebase = group user/merradi
	removeReviewer = group user/merradi
	submit = group user/merradi
[access "refs/heads/*"]
	create = group user/merradi
	push = +force group user/merradi
	pushMerge = group user/merradi
	read = group user/merradi
[access "refs/tags/*"]
	push = group user/merradi
	push = +force group user/merradi
